<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sohangarh_farming/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sohangarh_farming/index.php [L]
</IfModule>